<div class="row">
    <div class="col">
        <a href="/" class="logo">Onightroof</a>
    </div>
    <div class="col">
        <p>
            Onightroof est un service de location de logement saisonnier. Envie de
            partir en voyage à petit prix ! Louer chez Onightroof
        </p>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Liens</h4>
    </div>
    <div class="col">
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/locations">Locations</a></li>
            <li><a href="/mes-locations">Mes locations</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Informations légales</h4>
    </div>
    <div class="col">
        <ul>
            <li><a href="/mentions-legales">Mentions légales</a></li>
            <li><a href="/cgu">Conditions générales d'utilisation</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Contact</h4>
    </div>
    <div class="col">
        <ul>
            <li>
                <a href="#">
                    <span class="material-icons">location_on</span> 36 Rue Alfred de Musset, 11000 Carcassonne
                </a>
            </li>
            <li>
                <a href="tel:0102030405"><span class="material-icons">call</span> 0102030405</a>
            </li>
            <li>
                <a href="mailto:mittou.dorian@gmail.com"><span class="material-icons">mail</span> mittou.dorian@gmail.com</a>
            </li>
        </ul>
    </div>
</div>
